@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
}

body {
  background-color: #191f2c;
  color: #fff;
  box-sizing: border-box;
  font-family: "GmarketSansMedium", sans-serif;
  font-size: 16px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
p {
  margin: 0;
  padding: 0;
}
.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 3rem;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }
}
